:root{
    --primary: #8C9A9E;
    --light: #888f9b;
    --white:#ffffff;
    --black:#000000;
    --lightgrey:#f1f1f1;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "fira sans", sans-serif;
}
body{
    padding-top: 77px;
}
.container{
    max-width: 1280px;
    max-height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.title{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 3rem;
}

article{
    margin-top: -40px;
    height: flex;
    background-color: var(--white);
    font-size:36px;
}
h5{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 2.5rem;
}
.section{
    text-align: center;
    margin: 50px 50px 50px 100px;
}

.section h2{
    font-size: 3.5rem;
    font-weight: 700;
}
.section p{
    padding-top: 10px;
    text-align: center;
    font-size: 1.25rem;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--white);
    padding: 16px 32px;
    border-bottom: 5px solid var(--light);
    display: block;
}
nav a{
    text-decoration: none;
    color: var(--black);
}
h1{
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    
}
h2{
    color:var(--black);
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-bottom: 40px;
    
}
h3{
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 15px;
    
}
h4{
    color: var(--black);
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 40px;
    padding-left: 100px;
    margin-bottom: 20px;
}
.section p{
    padding-bottom: 20px;
}
.hamburger{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border:none;
    outline: none;
    background: none;
    cursor: pointer;
}




.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--primary);
} 



.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 45px;


}

.menu a {
    color: var(--black);
    font-size: 1.2rem;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active, .menu a:hover{
    background-color: var(--light);
}


.onas ul li:before, .list li:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 21px;
    height: 21px;
    background: url(../fotky/check.svg);
}

.nadpis-onas h4{
    color: var(--black);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 25px;
    padding-left: 210px;
    margin-top: 50px;
    font-display: center;
}

.onas ul li{
    position: relative;
    color: var(--black);
    font-size: 20px;
    line-height: 1.4;
    list-style-type: none;
    margin-bottom: 12px;
    padding-left: 30px;
    text-align: left;
    font-weight: 500;
}
.onas ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 3em;
    margin-block-end: 5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

.parallax{
    background:rgba(0, 0, 0, 0) url("../fotky/kancelar.jpeg"); 
    background-blend-mode: darken;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    margin: auto auto;
    height: 60vh;
}


  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--lightgrey);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .show {display: block;}



.onas p{
    display: block;
    text-align: left;
    padding-top:15px;
    font-size: 1.3rem;
    margin-left: 0px;
}

.onas{
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 30px;
    margin-bottom: 125px;
}

.card-long-flex-wrap {
    display: flex;
    justify-content: center;
}

.card-flex-wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 150px;
    margin-bottom: 100px;
}

.card {
    width: 80vw;
    height: 300px;
    border: 3px solid var(--light);
    border-radius: 25px;
    background-color:var(--lightgrey);
    color: var(--white);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.215);
    text-align: center;
    font-size: 16px;
    padding: 20px 20px 20px 20px;
}

.editor ul li:before, .list li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 21px;
    height: 21px;
    background: url(../fotky/check.svg);
}

* ::before {
    box-sizing: border-box;
}

.editor ul li{
    position: relative;
    color: var(--black);
    font-size: 18px;
    line-height: 1.4;
    list-style-type: none;
    margin-bottom: 12px;
    padding-left: 30px;
    text-align: left;
    font-weight: 500;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 100px;
}

img{
    width: 100%;
    height: 80vh;
}

.header-background{
    background:rgba(0, 0, 0, 0.462) url(../fotky/nabídky.jpeg); 
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto auto;
    height: 40vh;
}

.header-background02{
    background:rgba(0, 0, 0, 0.462) url(../fotky/stul.webp); 
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto auto;
    height: 60vh;
}

.header-background02 h6{
    font-size: 5rem;
}

h6{
    color: var(--white);
    font-size: 3rem;
}

p{
    padding-bottom: 0px;
    text-align: left;
}
.card ul{
    padding: 0px 0px 0px 0px;
    margin: 0px;
    padding-inline-start: 0px;
}

.zdroje {
    background-image: url("../fotky/stul.webp");
    background-position: center;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 60vh;
}


.zdroje li {
    padding-top: 5px;
    font-size: 19px;
    text-decoration: underline;
    color: var(--black);
}
.zdroje ul{
    padding:0px;
}


@media(max-width: 470px) {
    .parallax h1{
        font-size: 20px;
    }

}

@media(min-width: 768px) {
    .hamburger{
        display: none;
    }
    .menu {
        display:flex;
    }
}


@media(max-width: 1000px){
    .card-flex-wrap{
        margin-top: 50px;
        margin-bottom: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: none;
    }
    h5{
        padding-bottom: 30px;
    }
}

@media(max-width: 740px) {
    .card{
        margin-top: 20px;
    }
    h3{
        font-size: 30px;
        padding-bottom: 30px;
    }
    b h5{
        display: none;
    }
    h6{
        font-size:2.7rem;
    }
    .card ul li{
        font-size: 1.3rem;
    }
    .card{
        border: none;
    }
}


@media(max-width: 650px){
    .editor{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul{
        padding: 0;
    }
    h4{
        font-size: 1.4rem;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .nadpis-onas h4{
        display: flex;
        justify-content: center;
        margin-left: 0px;
        padding: 0px;
    }
    .onas{
        margin-left: 70px;
        margin-right: 70px;
    }

    .title{
        font-size: 2rem;
    }
    .zdroje li {
        font-size: 1.1rem;
    }
}
@media(max-width: 1110px){
    .card{
        height: 350px;
    }
}

@media(max-width: 520px){
    .card{
        height: 550px;
    }
}